Makefile
*.d
*.kd
*.ud
*.ko
*.uo
kelements.conf
kelements.mk
kpackage.cc
Kbuild
.*.ko.cmd
.*.o.cmd
.tmp_versions
kversion.c
roofnet.mod.c
uelements.conf
uelements.mk
upackage.cc
elementmap-roofnet.xml
config.h
configure
config.log
config.status
autom4te*
